{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Cerrar Sesión" %}
{% endblock title %}

{% block title_page %}
	{% trans 'Sesión finalizada' %}
{% endblock title_page %}

{% block content %}
<ul class="nav nav-tabs">
    <li ><a href="{% url 'auth_login' %}">{% trans "Inicia sesión" %}</a></li>
    <li ><a href="{% url 'registration_register' %}">{% trans "Registro" %}</a></li>
    <li ><a href="{% url 'auth_password_reset' %}">{% trans "Recuperar contraseña" %}</a></li>
</ul>
<br/>
<div class="alert alert-info"><strong>{% trans "Se ha desconectado con éxito" %}</strong></div>
{% endblock content %}