{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans 'Password reset complete' %}
{% endblock title %}

{% block title_page %}
	{% trans 'Password reset complete' %}
{% endblock title_page %}

{% block content %}
<ul class="nav nav-tabs">
    <li ><a href="{% url 'auth_login' %}">{% trans "Inicia sesión" %}</a></li>
    <li ><a href="{% url 'registration_register' %}">{% trans "Registro" %}</a></li>
    <li ><a href="{% url 'auth_password_reset' %}">{% trans "Recuperar contraseña" %}</a></li>
</ul>
<br/>
{% trans "Your password has been set.  You may go ahead and log in now." %}
<br/>
<br/>
<a href="{{ login_url }}">{% trans 'Log in' %}</a>

{% endblock %}