{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}
	{% trans "Validar cambio de contraseña" %}
{% endblock title %}

{% block title_page %}
	{% trans 'Validar cambio de contraseña' %}
{% endblock title_page %}

{% block content %}
<ul class="nav nav-tabs">
    <li ><a href="{% url 'auth_login' %}">{% trans "Inicia sesión" %}</a></li>
    <li ><a href="{% url 'registration_register' %}">{% trans "Registro" %}</a></li>
    <li ><a href="{% url 'auth_password_reset' %}">{% trans "Recuperar contraseña" %}</a></li>
</ul>
<br/>
{% if form %}
	<form action="" method="post">
		{% csrf_token %}
		{{ form|bootstrap }}
		<input type="submit" value="{% trans "Change Password" %}" class="btn btn-primary btn-form marg-right5">
	</form>
{% endif %}

{% endblock content %}